// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    body{
        background-color: #7fffd4;
        }
    
    
    
    .logo{
        height: 10%;
        width: 10%;
        border-radius: 49%;
        margin: 15px;
    }
    
    .nav{
        justify-content: space-around;
        padding: 0.1rem;
        border-color: teal;
        margin-left: 10rem;
        margin-right: 10rem;
        font-weight: bold;
        font-size: 1.2rem;
    
    }
    .heading{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        border: teal;
        display: inline;
        margin-left: 10%;
        padding: 7px 7px;
        
    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: solid;
        border-width: 3px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        padding: 10px 10px;
    }
    .h2{
        text-align: center;
    }
    .h3{
        text-align: center;
        margin: 1rem 15rem 1rem 15rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        float: right;
        width: 55%;
        margin-left: 5rem;
        padding: 1rem;
        text-align: center;
        color: floralwhite;
           
    }
      
    .cc-logo{
        height: 15%;
        width: 25%;
        margin-left: 6rem;
        padding: 1rem;
    
    }
    
             
    }
    ***/
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    body{
        background-color: grey;
        }
    
    
    
    .logo{
        height: 5%;
        width: 5%;
        border-radius: 49%;
        margin: auto;
    }
    
    .nav{
        justify-content: 100%;
        border-color: teal;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;
        font-size: auto;
    
    }
    .heading{
        text-align: center;
        font-size: 1.5rem;
        font-weight: normal;
        color: darkgrey;
        border: teal;
        display: inline;
        margin-left: auto;
        padding: 0.1rem;
        
    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: solid;
        border-width: 3px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        padding: 10px 10px;
    }
    .h2{
        text-align: center;
    }
    .h3{
        text-align: center;
        margin: 1rem 15rem 1rem 15rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        float: right;
        width: 55%;
        margin-left: 5rem;
        padding: 1rem;
        text-align: center;
        color: floralwhite;
           
    }
      
    .cc-logo{
        height: 15%;
        width: 25%;
        margin-left: 6rem;
        padding: 1rem;
    
    }
    
         
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
