/** Extra small devices (portrait phones, less than 576px) **/
@media (max-width: 575.98px) {

body{
    align-self: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


form{
    float: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.form-control{
    font-size: 0.7rem;
}

.p{
  width: 100%;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.transportation{
 
 
    
}

.days {
    display: flow-root;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: .75rem;
}
label {
    margin-bottom: auto;
    margin-right: 0.2rem;
    font-size: 0.7rem;
    
}
}


/** Medium devices (tablets, 768px and up) **/
@media (min-width: 576px) and (max-width: 1199.98px) { 

    body{
        align-self: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    form{
        float: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    
    
    .transportation  {
        position: static;
        margin-top: 0;
        margin-right: .3125rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .days {
        display: flow-root;
        position: static;
        margin-top: 0;
        margin-right: .5rem;
        margin-left: 1rem;
        margin-bottom: .75rem;
    }
    label {
        display: inline-block;
        margin-bottom: 0rem;
        margin-right: 1rem;
     }
     
 }

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
    body{
        align-self: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
form{
    float: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.transportation  {
    display: flow-root;
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.days {
    display: inline;
    float: right;
    position: static;
    margin-top: 0;
    margin-right: .5rem;
    margin-left: 1rem;
    margin-bottom: .75rem;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-right: 1rem;
 }
}