.logo{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    margin: 50px;
    
}
.heading{
    display: inline;
    margin-left: 15%;
    background-color: gray;
    
}
.main-img{
    height: 20%;
    width: 50%;
    margin-left: 20rem;
}
.h1{
    text-align: center;
}
.h2{
    text-align: center;
}
.h3{
    text-align: center;
    margin: 25px 25px;
}