body{
    background-color: #7fffd4;
    }



.logo{
    height: 10%;
    width: 10%;
    border-radius: 49%;
    margin: 15px;
    
    
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    border: teal;
    display: inline;
    margin-left: 10%;
    padding: 10px 10px;
    
}
.main-img{
    height: 20%;
    width: 50%;
    margin-left: 20rem;
    padding: 3rem;
}
.h1{
    text-align: center;
    padding: 10px 10px;
}
.h2{
    text-align: center;
}
.h3{
    text-align: center;
    margin: 25px 25px;
}
.footer{
    display: flex;
    border-top: solid;
    border-top-width: thick;
    border-top-color: teal;
}
.f{
    display: inline;
    float: right;
    width: 50%;
    margin-left: 10rem;
    padding: 1rem;
    
    
}

.cc-logo{
    height: 15%;
    width: 25%;
    margin-left: 6rem;
    padding: 1rem;
   
}

  /***
    height: 40%;
    width: 35%;
    padding: 3rem;
   
}
***/
