/** Medium devices (tablets, 768px and up) ***/
    @media (max-width: 575.98px)  {
    body{
        background-color: lightgrey;
        width: 100%;
        }

      .logo{
            display: inline;
            width: 25%;
            height: 20%;
            border: solid;
            border-width: 1px;
            border-color: lightgrey;
            border-radius: 49%;
            margin: auto;
            padding: 1rem;
        }

    .nav{
        justify-content: 100%;
        border-color: teal;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;
        font-size: 0.7rem;

    }
    .heading{
        display: inline;
        width: 80%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: normal;
        color: darkgrey;
        border: teal;
        display: inline;
        margin-left: auto;
        padding: 0.1rem;

    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        border: solid;
        border-width: 3px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        font-size: 50%;
        padding: 10px 10px;
    }
    .h2{
        text-align: center;
        font-size: 0.5rem;
    }
    .h3{
        text-align: center;
        font-size: 0.5rem;
        margin: auto;
        padding: .5rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        width: 100%;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        font-size: 0.5rem;
        float: right;
        width: 75%;
        margin-left: auto;
        padding: 0.5rem;
        text-align: center;
        color: floralwhite;

    }

    .cc-logo{
        height: 15%;
        width: 25%;
        margin-top: auto
        margin-left: auto;
        padding: 0.5rem;

    }


}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        background-color: lightgrey;
        width: 100%;
        }

    .logo{
        display: inline;
        width: 25%;
        height: 20%;
        border: solid;
        border-width: 1px;
        border-color: lightgrey;
        border-radius: 49%;
        margin: auto;
        padding: 1rem;
    }

    .nav{
        justify-content: 100%;
        border-color: teal;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0.5rem;

    }
    .heading{
        display: inline;
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        border: teal;
        display: inline;
        margin-left: auto;
        padding: 0.8rem;

    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border: solid;
        border-width: 3px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        font-size: 85%;
        padding: 1.8rem;
    }
    .h2{
        text-align: center;
        font-size: 85%;
        margin-bottom: 1rem;
        }
    .h3{
        text-align: center;
        font-size: 85%;
        margin: auto;
        padding: 1rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        width: 100%;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        font-size: 80%;
        float: right;
        width: 70%;
        margin-left: auto;
        padding: 1rem;
        text-align: center;
        color: floralwhite;

    }

    .cc-logo{
        height: 20%;
        width: 25%;
        margin-left: auto;
        padding: 0.5rem;

    }
 }

 /** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        background-color:lightblue;
        width: 100%;
        }

    .logo{
        display: inline;
        width: 25%;
        height: 20%;
        border: solid;
        border-width: 1px;
        border-color: lightblue;
        border-radius: 49%;
        margin: auto;
        padding: 2rem;
    }

    .nav{
        justify-content: 100%;
        border-color: teal;
        margin-left: auto;
        margin-right: auto;
        font-weight: bolder;
        font-size: 1.6rem;

    }
    .heading{
        display: inline;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: black;
        border: teal;
        margin-left: 0;
        padding: 0.6rem;

    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border: solid;
        border-width: 3px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem;
    }
    .h2{
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 1rem
    }
    .h3{
        text-align: center;
        width: 83%;
        font-size: 1.5rem;
        margin: auto;
        padding: 1rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        width: 100%;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        font-size: 1rem;
        float: right;
        width: 70%;
        margin-left: auto;
        padding: 1rem;
        text-align: center;
        color: floralwhite;

    }

    .cc-logo{
        height: 15%;
        width: 25%;
        margin-left: auto;
        padding: 0.5rem;

    }
 }

 /** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        background-color:lightskyblue;
        width: 100%;
        }

    .logo{
        display: inline;
        width: 25%;
        height: 20%;
        border: solid;
        border-width: 1px;
        border-color: lightskyblue;
        border-radius: 49%;
        margin: auto;
        padding: 1rem;
    }

    .nav{
        justify-content: 100%;
        border-color: teal;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 2.2rem;

    }
    .heading{
        display: inline;
        width: 80%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: darkslategrey;
        border: teal;
        display: inline;
        margin-left: auto;
        padding: 1rem;

    }
    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        border: solid;
        border-width: 5px;
        border-color: teal;
    }
    .h1{
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem;
    }
    .h2{
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 0.7rem
    }
    .h3{
        text-align: center;
        width: 70%;
        font-size: 1.5rem;
        margin: auto;
        padding: 1rem;
    }
    .footer{
        background-color: gray;
        display: flex;
        width: 100%;
        border-top: solid;
        border-top-width: thick;
        border-top-color: teal;
    }
    .f {
        display: inline;
        font-size: 1.5rem;
        float: right;
        width: 70%;
        margin-left: auto;
        padding: 1rem;
        text-align: center;
        color: floralwhite;

    }

    .cc-logo{
        height: 15%;
        width: 25%;
        margin-left: auto;
        padding: 0.5rem;

    }
 }

/*** Extra large devices (large desktops, 1200px and up) ***/
@media (min-width: 1200px) {

body{
    background-color: #7fffd4;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    content: inherit;
    width: 100%;
=======
    width: 80%;
>>>>>>> bbbe37d6d0a16dd49fbf96460bd768deaf5c7947
    }



.logo{
<<<<<<< HEAD
    height: 25%;
    width: 30%;
=======
    height: 20%;
    width: 20%;
    border: solid;
    border-width: 1px;
    border-color: #7fffd4;
>>>>>>> bbbe37d6d0a16dd49fbf96460bd768deaf5c7947
    border-radius: 49%;

    margin: auto;
<<<<<<< HEAD
    padding: 6rem;
=======
    padding: 3rem;
>>>>>>> bbbe37d6d0a16dd49fbf96460bd768deaf5c7947
}

.nav{
    justify-content: space-around;
    padding: 1rem;
    border-color: teal;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 2.1rem;

}
.heading{
    text-align: center;
    width: 75%;
    font-size: 2.7rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    border: teal;
    display: inline;
    margin-left: 3.5rem;
    margin-right: auto;
    padding: 0.5rem;

}
.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: solid;
    border-width: 7px;
    border-color: teal;
}
.h1{
    text-align: center;
    width: auto;
    padding: 1rem;
}
.h2{
    text-align: center;
    width: auto;
    margin-bottom: 0.8rem;
}
.h3{
    text-align: center;
    margin: 1rem 15rem 1rem 15rem;
}
.footer{
    background-color: gray;
    display: flex;
    border-top: solid;
    border-top-width: thick;
    border-top-color: teal;
}
.f {
    display: inline;
    float: right;
    width: 55%;
    margin-left: 5rem;
    padding: 1rem;
    text-align: center;
    color: floralwhite;

}

.cc-logo{
    height: 15%;
    width: 25%;
    margin-left: 6rem;
    padding: 1rem;

}
}

  /***
    height: 40%;
    width: 35%;
    padding: 3rem;
